<!DOCTYPE html>
    <html>
        <head>
            <title>Leaflet Web Map</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vue"></script>
			<script src="http://open.mapquestapi.com/nominatim/v1/search.php"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			
            <style>
                #map {
                    width: 900px;
                    height:500px;
                }
            </style>
        </head>
        <body>
        <!--  -->
		
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about">About Us</a>
					</li>
				</ul>
			</nav>
			<div class="container">
			<div class="col-md-12">
            <div id="map"></div>
            <br/>
            Location (lat/long coordinates, address, etc.): <input type="text" name="Location" id="txtLocation" value="">
            <br>
            <p id="location"></p>
			<!--
				Conway/Battlecreek/Highwood: 44.921577, -93.030639
				
				Greater East Side: 44.977473, -93.025671
				
				West Side: 44.933460, -93.080164
				
				Dayton's Bluff: 44.958591, -93.058473
				
				Payne/Phalen: 44.976641, -93.066103
				
				North End: 44.977122, -93.105888
				
				Thomas/Dale(Frogtown): 44.959952, -93.118672
				
				Summit/University: 44.948338, -93.126295
				
				West Seventh: 44.926904, -93.127954
				
				Como: 44.979157, -93.146152
				
				Hamline/Midway: 44.951729, -93.167039
				
				St. Anthony: 44.970715, -93.193814
				
				Union Park: 44.948424, -93.177081
				
				Macalester-Groveland: 44.934318, -93.172108
				
				Highland: 44.912484, -93.169759
				
				Summit Hill: 44.937791, -93.133847
				
				Capitol River: 44.953341, -93.102230
				-->
			<br>
			<div id="checkboxes">
			  <label>Neighborhoods</label>
			  <ul>
				<li><input type="checkbox">Conway/Battlecreek/Highwood</li>
				<li><input type="checkbox">Greater East Side</li>
				<li><input type="checkbox">West Side</li>
				<li><input type="checkbox">Dayton's Bluff</li>
			  </ul>
			</div>
			<br>
			<div id="checkboxes">
			  <label>Incident Type</label>
			  <ul>
				<li><input type="checkbox">Proactive Police Visit</li>
				<li><input type="checkbox">Vandalism</li>
				<li><input type="checkbox">Discharge</li>
				<li><input type="checkbox">Auto Theft</li>
			  </ul>
			</div>
			<br>
			
			<table>
				<thead>
					<tr>
						<th>Case Number</th>
						<th>Date and Time</th>
						<th>Incident Type</th>
						<th>Police Grid</th>
						<th>Neighborhood</th>
						<th>Block</th>
					</tr>
				</thead>
				
				<tbody>
					!!!TABLE_CRIME_DATA!!!!
					<!--tr v-for="row in rows">
						<td v-for="col in columns">{{ row[col] }}</td>
					</tr-->
				</tbody>	
	
			</table>
			
			
            

            <script type="text/javascript">
                //Creating the map: centering it and setting the initial zoom level
                var map = L.map('map',{ center: [44.9537, -93.0900], zoom: 12 });
                
                //Setting the maps panning boundries
                var southWest = L.latLng(44.884284, -93.213769);
                var northEast = L.latLng(44.993547, -93.004264);
                var bounds = L.latLngBounds(southWest, northEast);
                map.setMaxBounds(bounds)

                //adds the actual 'map' to the map variable and sets the min and max zoom
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', 
                {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    maxZoom:18,
                    minZoom: 12
                }).addTo(map);

                //updates center coordinates if stopped zooming
                map.on('zoomend', function() {
                    updateCenterCoordinates();
					getlocation();
                });

                //updates center coordinates if stopped panning
                map.on('dragend', function() {
                    updateCenterCoordinates();
					getlocation();
                });
				
				document.getElementById("txtLocation").onkeypress = function(event)
				{
					 if (event.keyCode == 13 || event.which == 13)
					 {
						getlocation();
					 }
				}
				var marker = L.marker([44.942964, -93.190555]);
				var conway_marker = L.marker([44.921577, -93.030639]);
				var eastside_marker = L.marker([44.977473, -93.025671]);
				var westside_marker = L.marker([44.933460, -93.080164]);
				var dayton_marker = L.marker([44.958591, -93.058473]);
				var payne_marker = L.marker([44.976641, -93.066103]);
				var northend_marker = L.marker([44.977122, -93.105888]);
				var frogtown_marker = L.marker([44.959952, -93.118672]);
				var summituniversity_marker = L.marker([44.948338, -93.126295]);
				var westseventh_marker = L.marker([44.926904, -93.127954]);
				var como_marker = L.marker([44.979157, -93.146152]);
				var midway_marker = L.marker([44.951729, -93.167039]);
				var stanthony_marker = L.marker([44.970715, -93.193814]);
				var unionpark_marker = L.marker([44.948424, -93.177081]);
				var macalester_marker = L.marker([44.934318, -93.172108]);
				var highland_marker = L.marker([44.912484, -93.169759]);
				var summithill_marker = L.marker([44.937791, -93.133847]);
				var capitol_marker = L.marker([44.953341, -93.102230]);
				
				
				var markers = [conway_marker, eastside_marker, westside_marker, dayton_marker, payne_marker, northend_marker, frogtown_marker, summituniversity_marker, westseventh_marker, como_marker, midway_marker, stanthony_marker, unionpark_marker, macalester_marker, highland_marker, summithill_marker, capitol_marker];
				
				for(let i = 0; i < markers.length; i++){
					console.log("adding " + markers[i] + " to the map");
					markers[i].addTo(map);
				}
				
				
				//MARKERS NEEDED FOR EACH NEIGHBOORDHOOD
				/*
				Conway/Battlecreek/Highwood: 44.921577, -93.030639
				
				Greater East Side: 44.977473, -93.025671
				
				West Side: 44.933460, -93.080164
				
				Dayton's Bluff: 44.958591, -93.058473
				
				Payne/Phalen: 44.976641, -93.066103
				
				North End: 44.977122, -93.105888
				
				Thomas/Dale(Frogtown): 44.959952, -93.118672
				
				Summit/University: 44.948338, -93.126295
				
				West Seventh: 44.926904, -93.127954
				
				Como: 44.979157, -93.146152
				
				Hamline/Midway: 44.951729, -93.167039
				
				St. Anthony: 44.970715, -93.193814
				
				Union Park: 44.948424, -93.177081
				
				Macalester-Groveland: 44.934318, -93.172108
				
				Highland: 44.912484, -93.169759
				
				Summit Hill: 44.937791, -93.133847
				
				Capitol River: 44.953341, -93.102230
				*/
				
				

                //Gets the coordinates of the center of the map, Rounds to the the-thousandths and calls another function to add the text to the location request textbox.
                function updateCenterCoordinates()
                {
                    var currCenter = map.getCenter();
                    var currLat = Math.round(10000*currCenter.lat)/10000;
                    var currLng = Math.round(10000*currCenter.lng)/10000;
                    updateTextCenterLocation(currLat,currLng);

                  //  document.getElementById("centerCoordinates").innerHTML = currLat + "," + currLng;
                }
				
				//updates text box with the location at the center of the map
                function updateTextCenterLocation( currLatt,  currLngg)
                {
                    var TheTextBoxLocationCenter = document.getElementById("txtLocation");
                    TheTextBoxLocationCenter.value = currLatt + "," + currLngg;
                }

                function getlocation(){
				
                    //var name = document.getElementById("txtLocation").value;
                    //document.getElementById("location").innerHTML = input;
					
					var name = document.getElementById("txtLocation").value; 
                    $.getJSON('https://nominatim.openstreetmap.org/search.php?q=' + name + "&format=json",
                    function(obj)
                    {
					
						if(obj[0]!=undefined)
						{
                        //var topResponse = JSON.parse(obj[0]);
							var looking = true;
							let i = 0;
							while(looking && i < obj.length)
							{
								var latitude = obj[i].lat;
								var longitude = obj[i].lon;
								var place = obj[i].display_name;
								var latANDLong = latitude + "," + longitude;
								
								document.getElementById("location").innerHTML = JSON.stringify(place);
								var stpaul_boundingbox = [44.8872811,44.992016,-93.207787,-93.00432];
								
								var bounding = obj[i].boundingbox;
								if (latitude >= stpaul_boundingbox[0] && latitude <= stpaul_boundingbox[1] && longitude >= stpaul_boundingbox[2] && longitude <= stpaul_boundingbox[3]) {
									zoomTo(latitude,longitude);
									document.getElementById("location").innerHTML = place;
									looking = false;
									
								}
								i++;
								//Radio button Option
							}
							if(looking) {
								document.getElementById("location").innerHTML = "Location not found on map";
							}
						}
							
						else
						{
							document.getElementById("location").innerHTML = "Location Not Found on Map";
						}
                    });
                    //jquery for search
                    
                }

                function zoomTo(lat,lng) {
                    map.panTo(new L.LatLng(lat, lng));
                }
				
				var app;
				function Init() {
					app = new Vue({
						el: "#app",
						data: {
							
						}
					});
				}
								
            </script>

		</div>
		</div>
        </body>
    </html>